<header class="main-header bg-primary">
	<div class="inner-wrapper">
		<div class="container">
			<div class="navbar">
				<section class="navbar-section">
					<a href="/" class="navbar-brand portal-logo">
						<h1>SPBU17</h1>
					</a>
					<a href="#" class="btn btn-link active">
						<span class="btn-text text-secondary">Berita</span>
					</a>
					<a href="#" class="btn btn-link">
						<span class="btn-text text-secondary">Lowongan</span>
					</a>
					<a href="#" class="btn btn-link">
						<span class="btn-text text-secondary">Direktori</span>
					</a>
				</section>
				<section class="navbar-section">
					{% if user and not noHeader %}
						<div class="dropdown dropdown-right">
							<figure class="avatar badge dropdown-toggle" data-badge="8" tabindex="0">
								<img src="http://via.placeholder.com/350x350" alt="maman" />
							</figure>
							<ul class="menu">
								<li class="divider" data-content="Profil"></li>
								<li class="menu-item"><a href="#">Profil</a></li>
								<li class="menu-item"><a href="#">Edit Profil</a></li>
								<li class="divider" data-content="Lowongan"></li>
								<li class="menu-item">
									<a href="#">Posting Lowongan</a>
								</li>
								<li class="menu-item">
									<div class="menu-badge">
										<label class="label label-primary">8</label>
									</div>
									<a href="#">Lamaran</a>
								</li>
								<li class="divider" data-content="Berita"></li>
								<li class="menu-item">
									<a href="#">Posting Berita</a>
								</li>
							</ul>
						</div>
					{% elseif not user and not noHeader %}
						<a href="#" class="btn btn-link" data-toggle="content:showAuth">
							<span class="text-secondary">Masuk/Register</span>
						</a>
					{% endif %}
				</section>
			</div>
		</div>
	</div>
</header>
{% if not noHeader %}
<section class="page-filter">
	<div class="inner-wrapper">
		<div class="filters">
			<div class="inner-wrapper">
				<div class="container">
					<div class="navbar">
						<section class="navbar-section">
							<div class="popover popover-bottom">
								<a href="#" class="btn btn-link"> Kategori <i class="icon icon-caret"></i></a>
								<div class="popover-container">
									<div class="card">
										<div class="card-header">Header</div>
										<div class="card-body">
											<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni minus vel, impedit ipsa asperiores natus eveniet
												harum labore perspiciatis vero, voluptas quis corrupti esse consequatur laboriosam at dolore vitae sapiente.</p>
										</div>
									</div>
								</div>
							</div>
						</section>
						<section class="navbar-section">
							<!-- EMPTY -->
						</section>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endif %}
{% if not user and not noHeader %}
<div class="login-form">
	<div class="inner-wrapper">
		<div class="container grid-sm">
			<div class="columns">
				<div class="column col-6 col-sm-12">
					<form
						action="/auth/authenticate"
						method="POST"
						class="form-main"
					>
						<div class="form-group">
							<input
								class="form-input"
								id="name"
								type="text"
								name="email"
								placeholder="Email"
							/>
						</div>
						<div class="form-group">
							<input
								class="form-input"
								id="password"
								type="password"
								name="password"
								placeholder="Password"
							/>
						</div>
						<a href="#" class="btn btn-link btn-forgot-password">Lupa password?</a>
						<input
							type="submit"
							value="Login"
							class="btn btn-primary float-right"
						/>
					</form>
				</div>
				<div class="column col-6 col-sm-12">
					<div class="login-print">
						<h4 class="text-secondary">Belum terdaftar?</h4>
						<p class="text-gray">Daftar lur biar berguna hidupmu, ndak nyusahin mama papa dirumah</p>
						<a href="#" class="btn btn-success">Daftar</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endif %}
