{% extends 'base.twig' %}

{% block navbar %}
{{ include('components/header.twig', { user: user }) }}
{% endblock %}

{% block content %}
  <section class="main" data-toggle-target="content">
		<div class="main-content">
			<div class="inner-wrapper">
				<div class="container">
					<div class="columns">
						<div class="column col-8 col-sm-12 content-container">
							<div class="content-wrapper panel">
								<div class="panel-header content-header">
									<div class="panel-title columns">
										<div class="column col-10">
											<p class="title-text"><span>Selamat datang di Portal!</span> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem, magnam tenetur dicta sint delectus quisquam,
											pariatur tempora commodi quis minima autem unde ea! Voluptate, pariatur. Magnam ducimus similique molestias amet.</p>
										</div>
										<div class="column col-2 title-action">
											<a href="#" class="btn btn-success">Sign Up</a>
										</div>
									</div>
								</div>
								<div class="panel-body no-margin no-overflow">
									<div class="lists">
										<div class="list">
											<figure class="list-accent avatar avatar-xl">
												<img src="http://via.placeholder.com/350x350" alt="rabi" />
											</figure>
											<div class="list-title">
												<h3 class="list-title-text"><a href="#">Berita 1</a></h3>
											</div>
											<div class="list-detail">
												<span class="timestamp">1 jam lalu</span>
												<span class="separator">•</span>
												<a href="#" class="poster">Achmad Mahardi</a>
											</div>
										</div>
									</div>
								</div>
								<div class="panel-footer centered">
									<ul class="pagination">
										<li class="page-item"><a href="#">1</a></li>
										<li class="page-item active"><a href="#">2</a></li>
										<li class="page-item"><a href="#">3</a></li>
										<li class="page-item"><a href="#">Next</a></li>
									</ul>
								</div>
							</div>
						</div>
						<aside class="column col-4 col-sm-12 content-sidebar">
							<div
								class="content-wrapper panel sticky"
							>
								<div class="panel-header">
									<div class="panel-title h5">Kabar Terbaru</div>
								</div>
								<div class="panel-nav">
									<ul class="tab tab-block">
										<li class="tab-item active">
											<a href="#" data-tab-action="lowongan">Lowongan</a>
										</li>
										<li class="tab-item">
											<a href="#" data-tab-action="member">Member</a>
										</li>
									</ul>
								</div>
								<div class="panel-body tab-container" data-tab-target="lowongan">
									<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto consequatur sapiente eum, tempora similique
										sequi accusantium illo voluptates illum ullam necessitatibus quibusdam hic inventore. Veritatis maiores deserunt
										maxime sed rerum.</p>
								</div>
								<div class="panel-body tab-container d-none" data-tab-target="member">
									<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem itaque est fugit.</p>
								</div>
								<div class="panel-footer" data-tab-target="lowongan">
									<a href="#">Semua Lowongan …</a>
								</div>
								<div class="panel-footer d-none" data-tab-target="member">
									<a href="#">Semua Member …</a>
								</div>
							</div>
						</aside>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
