{% extends 'base.twig' %}

{% block navbar %}
{{ include('components/header.twig', { user: user }) }}
{% endblock %}

{% block content %}
  <section class="main" data-toggle-target="content">
		<div class="main-content">
			<div class="inner-wrapper">
				<div class="container">
					<div class="columns">
						<div class="column col-8 col-sm-12 content-container">
							<div class="content-wrapper panel">
								<div class="panel-header">
									<div class="panel-title">
										<h2>Selamat datang di Portal!</h2>
										<p class="text-thin">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem, magnam tenetur dicta sint delectus quisquam,
											pariatur tempora commodi quis minima autem unde ea! Voluptate, pariatur. Magnam ducimus similique molestias amet.</p>
									</div>
								</div>
								<div class="panel-body">
									<div class="lists">
										<div class="list">
											<div class="list-title">
												<h3>Berita 1</h3>
											</div>
											<div class="list-content">
												<div>
													<p>Lorem ipsum dolor sit amet.</p>
												</div>
												<div class="list-detail">
													<span class="timestamp">1 jam lalu</span>
													<span class="separator">•</span>
													<a href="#" class="poster">Achmad Mahardi</a>
												</div>
											</div>
										</div>
										<div class="list">
											<div class="list-title">
												<h3>Berita 2</h3>
											</div>
											<div class="list-content">
												<div>
													<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
												</div>
												<div class="list-detail">
													<span class="timestamp">1 jam lalu</span>
													<span class="separator">•</span>
													<a href="#" class="poster">Achmad Mahardi</a>
												</div>
											</div>
										</div>
										<div class="list">
											<div class="list-title">
												<h3>Berita 3</h3>
											</div>
											<div class="list-content">
												<div>
													<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur nisi voluptates nesciunt. Sit quas atque delectus
														consectetur unde dolore aliquid sequi assumenda distinctio minus blanditiis labore rem ullam, repudiandae dolores?</p>
												</div>
												<div class="list-detail">
													<span class="timestamp">1 jam lalu</span>
													<span class="separator">•</span>
													<a href="#" class="poster">Achmad Mahardi</a>
												</div>
											</div>
										</div>
										<div class="list">
											<div class="list-title">
												<h3>Berita 4</h3>
											</div>
											<div class="list-content">
												<div>
													<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur nisi voluptates nesciunt. Sit quas atque delectus
														consectetur unde dolore aliquid sequi assumenda distinctio minus blanditiis labore rem ullam, repudiandae dolores?</p>
												</div>
												<div class="list-detail">
													<span class="timestamp">1 jam lalu</span>
													<span class="separator">•</span>
													<a href="#" class="poster">Achmad Mahardi</a>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="panel-footer centered">
									<ul class="pagination">
										<li class="page-item"><a href="#">1</a></li>
										<li class="page-item active"><a href="#">2</a></li>
										<li class="page-item"><a href="#">3</a></li>
										<li class="page-item"><a href="#">Next</a></li>
									</ul>
								</div>
							</div>
						</div>
						<aside class="column col-4 col-sm-12 content-sidebar">
							<div
								class="content-wrapper panel sticky"
							>
								<div class="panel-header">
									<div class="panel-title h5">Kabar Terbaru</div>
								</div>
								<div class="panel-nav">
									<ul class="tab tab-block">
										<li class="tab-item active">
											<a href="#" data-tab-action="lowongan">Lowongan</a>
										</li>
										<li class="tab-item">
											<a href="#" data-tab-action="member">Member</a>
										</li>
									</ul>
								</div>
								<div class="panel-body tab-container" data-tab-target="lowongan">
									<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto consequatur sapiente eum, tempora similique
										sequi accusantium illo voluptates illum ullam necessitatibus quibusdam hic inventore. Veritatis maiores deserunt
										maxime sed rerum.</p>
								</div>
								<div class="panel-body tab-container d-none" data-tab-target="member">
									<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem itaque est fugit.</p>
								</div>
								<div class="panel-footer" data-tab-target="lowongan">
									<a href="#">Semua Lowongan …</a>
								</div>
								<div class="panel-footer d-none" data-tab-target="member">
									<a href="#">Semua Member …</a>
								</div>
							</div>
						</aside>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
