{% extends 'base.twig' %}

{% block navbar %}
{{ include('components/header.twig', { user: user }) }}
{% endblock %}

{% block content %}
  <section class="main" data-toggle-target="content">
		<div class="filters" data-sticky>
			<div class="inner-wrapper">
				<div class="container">
					<div class="navbar">
						<section class="navbar-section">
							<div class="popover popover-bottom">
								<a href="#" class="btn btn-link"> Kategori <i class="icon icon-caret"></i></a>
								<div class="popover-container">
									<div class="card">
										<div class="card-header">Header</div>
										<div class="card-body">
											<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni minus vel, impedit ipsa asperiores natus eveniet
												harum labore perspiciatis vero, voluptas quis corrupti esse consequatur laboriosam at dolore vitae sapiente.</p>
										</div>
									</div>
								</div>
							</div>
						</section>
						<section class="navbar-section">
							<!-- EMPTY -->
						</section>
					</div>
				</div>
			</div>
		</div>
		<div class="main-content">
			<div class="inner-wrapper">
				<div class="container">
					<div class="columns">
						<div class="column col-8 col-sm-12 content-container">
							<div class="content-wrapper panel">
								<div class="panel-header">
									<div class="panel-title">
										<h2>Selamat datang di Portal!</h2>
										<p class="text-thin">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem, magnam tenetur dicta sint delectus quisquam,
											pariatur tempora commodi quis minima autem unde ea! Voluptate, pariatur. Magnam ducimus similique molestias amet.</p>
									</div>
								</div>
								<div class="panel-body">
									<div class="lists">
										<div class="list">
											<div class="list-title">
												<h3>Berita 1</h3>
											</div>
											<div class="list-content">
												<div>
													<p>Lorem ipsum dolor sit amet.</p>
												</div>
												<div class="list-detail">
													<span class="timestamp">1 jam lalu</span>
													<span class="separator">•</span>
													<a href="#" class="poster">Achmad Mahardi</a>
												</div>
											</div>
										</div>
										<div class="list">
											<div class="list-title">
												<h3>Berita 2</h3>
											</div>
											<div class="list-content">
												<div>
													<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
												</div>
												<div class="list-detail">
													<span class="timestamp">1 jam lalu</span>
													<span class="separator">•</span>
													<a href="#" class="poster">Achmad Mahardi</a>
												</div>
											</div>
										</div>
										<div class="list">
											<div class="list-title">
												<h3>Berita 3</h3>
											</div>
											<div class="list-content">
												<div>
													<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur nisi voluptates nesciunt. Sit quas atque delectus
														consectetur unde dolore aliquid sequi assumenda distinctio minus blanditiis labore rem ullam, repudiandae dolores?</p>
												</div>
												<div class="list-detail">
													<span class="timestamp">1 jam lalu</span>
													<span class="separator">•</span>
													<a href="#" class="poster">Achmad Mahardi</a>
												</div>
											</div>
										</div>
										<div class="list">
											<div class="list-title">
												<h3>Berita 4</h3>
											</div>
											<div class="list-content">
												<div>
													<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur nisi voluptates nesciunt. Sit quas atque delectus
														consectetur unde dolore aliquid sequi assumenda distinctio minus blanditiis labore rem ullam, repudiandae dolores?</p>
												</div>
												<div class="list-detail">
													<span class="timestamp">1 jam lalu</span>
													<span class="separator">•</span>
													<a href="#" class="poster">Achmad Mahardi</a>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="panel-footer centered">
									<ul class="pagination">
										<li class="page-item"><a href="#">1</a></li>
										<li class="page-item active"><a href="#">2</a></li>
										<li class="page-item"><a href="#">3</a></li>
										<li class="page-item"><a href="#">Next</a></li>
									</ul>
								</div>
							</div>
						</div>
						<aside class="column col-4 col-sm-12 content-sidebar">
							<div class="content-wrapper panel">
								<div class="panel-header">
									<div class="panel-title h5">Lowongan Terbaru</div>
								</div>
								<div class="panel-body">
									<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto consequatur sapiente eum, tempora similique
										sequi accusantium illo voluptates illum ullam necessitatibus quibusdam hic inventore. Veritatis maiores deserunt
										maxime sed rerum.</p>
								</div>
								<div class="panel-footer">
									<a href="#">Semua Lowongan …</a>
								</div>
							</div>
							<div class="content-wrapper panel">
								<div class="panel-header">
									<div class="panel-title h5">Member Terbaru</div>
								</div>
								<div class="panel-body">
									<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, quaerat hic maiores, recusandae laborum suscipit
										id repellat ab dolorem odit eveniet! Quo quas repudiandae hic culpa nemo impedit dicta iusto.</p>
								</div>
								<div class="panel-footer">
									<a href="#">Lihat Direktori …</a>
								</div>
							</div>
						</aside>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
