<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>{% block pagetitle %}Kopet Incorporated{% endblock %}</title>
	{% if env == 'production' %}<link rel="stylesheet" href="{{assetsUrl}}/css/main.css">{% endif %}
</head>
<body>
	<div id="rootContainer">
		<div id="rootNavbar">
			{% block navbar %}{% endblock %}
		</div>
		<div id="rootContent">
			{% block content %}{% endblock %}
		</div>
		<div id="rootFooter">
		{% block footer %}
			<footer>
				<div>lol</div>
			</footer>
		{% endblock %}
		</div>
	</div>
	<script src="{{assetsUrl}}/js/dist/main.bundle.js" async></script>
</body>
</html>
